Django==6.0
asgiref==3.11.0
sqlparse==0.5.5
python-dotenv==1.2.1

# Data Science
pandas==2.3.3
plotly==6.5.1
numpy==2.3.5

# Для работы pandas
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2

# Для изображений
pillow==12.0.0

# Базовые утилиты
click==8.3.0
packaging==25.0
charset-normalizer==3.4.4
sniffio==1.3.1
idna==3.10
colorama==0.4.6
typing_extensions==4.15.0
annotated-types==0.7.0